---
import SocialLinks from './SocialLinks.astro';
---

<footer class="mt-22 border-t border-zinc-200 dark:border-white/10">

  <div class="mx-auto max-w-6xl px-6 py-12 flex flex-col gap-6
              md:flex-row items-center md:justify-between">

    <!-- Logo -->
    <div class="flex items-center gap-2 text-sm text-zinc-600 dark:text-zinc-400">
      <img src="/icons/logo-jm-light.svg" alt="JM logo" class="h-8 block dark:hidden"/>
      <img src="/icons/logo-jm-dark.svg" alt="JM logo" class="h-8 hidden dark:block"/>

      <span font-family="system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif" font-size="30" font-weight="500">
        © {new Date().getFullYear()} — Designed & Developed by Javier Martín
      </span>
    </div>

    <!-- ICONOS -->
  <div id="footerIcons" class="flex items-center justify-center md:justify-end gap-2">
      <SocialLinks />
  </div>
</footer>